// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant


$base_color: if($variant =='light', #ffffff, #292D33);
$text_color: if($variant == 'light', #5c616c, #D3DAE3);
$bg_color: if($variant =='light', #f9fafb, #2F343B);
$fg_color: if($variant =='light', #5c616c, #D3DAE3);

$selected_fg_color: #ffffff;
$selected_bg_color: #5294E2;
$selected_borders_color: darken($selected_bg_color, 20%);
$borders_color: if($variant =='light', darken($bg_color,9%), darken($bg_color,8%));

$link_color: if($variant == 'light', darken($selected_bg_color,10%),
                                     lighten($selected_bg_color,20%));
$link_visited_color: if($variant == 'light', darken($selected_bg_color,20%),
                                     lighten($selected_bg_color,10%));

$selection_mode_bg: if($transparency == 'true', transparentize($selected_bg_color, 0.05), $selected_bg_color);
$warning_color: #F27835;
$error_color: #FC4138;
$success_color: #73d216;
$destructive_color: #FA4349;
$suggested_color: if($variant == 'light', #9EA4B5, #5B5F69);

$osd_fg_color: #A8ADB5;
$osd_bg_color: transparentize(#3c4049, 0.05);
$osd_button_bg: darken($osd_bg_color, 3%);

$osd_insensitive_bg_color: darken($osd_bg_color, 3%);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 30%);
$osd_borders_color: transparentize(black, 0.3);


$tooltip_bg: $osd_bg_color;
$tooltip_fg: #edf5fb;
$tooltip_borders_color: transparentize(white, 0.9);

//insensitive state derived colors
$insensitive_fg_color: if($variant == 'light', transparentize($fg_color, 0.45), transparentize($fg_color, 0.55));
$insensitive_bg_color: if($variant == 'light', mix($bg_color, $base_color, 40%), lighten($bg_color, 2%));


$entry_bg: $base_color;
$entry_border: if($variant == 'light', #cfd6e6, #454a54);
$entry_focus_border: $selected_bg_color;

$button_bg: if($variant == 'light', lighten($bg_color, 1%), darken($bg_color, 2%));
$button_border: $entry_border;

$header_bg: if($transparency == 'true' and $variant == 'light', transparentize(#e7e8eb, 0.05), #e7e8eb);
$header_bg: if($darker == 'true', transparentize(#2f343b, 0.05), $header_bg);
@if $variant==dark { $header_bg: if($transparency == 'true', transparentize(#25282E, 0.04), #25282E); }

$header_bg_backdrop: if($variant == 'light', lighten($header_bg, 3%), lighten($header_bg, 1.5%));
$header_bg_backdrop: if($darker == 'true', lighten($header_bg, 1.5%), $header_bg_backdrop);

$header_fg: if($variant == 'light', saturate(transparentize($fg_color, 0.2), 10%), saturate(transparentize($fg_color, 0.2), 10%));
$header_fg: if($darker == 'true', saturate(transparentize(#D3DAE3, 0.2), 10%), $header_fg);

$dark_sidebar_bg: if($transparency == 'true' and $variant == 'light', $osd_bg_color, opacify($osd_bg_color, 1));
@if $variant==dark { $dark_sidebar_bg: if($transparency == 'true', darken($osd_bg_color, 5%), darken(opacify($osd_bg_color, 1), 5%)); }

$dark_sidebar_fg: $osd_fg_color;
$dark_sidebar_border: if($variant == 'light', $dark_sidebar_bg, darken($dark_sidebar_bg, 7%));

$panel_bg: darken($osd_bg_color, 10%);
$panel_fg: $dark_sidebar_fg;


//WM Buttons

// Close
$wm_button_close_bg: if($variant == 'light', #f37076, #e45e65);
$wm_button_close_hover_bg: if($variant == 'light', #f79da1, #f48085);
$wm_button_close_active_bg: if($variant == 'light', #ef4048, #e6262f);

$wm_icon_close_bg: $selected_fg_color;
$wm_icon_close_hover_bg: $selected_fg_color;
$wm_icon_close_active_bg: $selected_fg_color;

// Minimize, Maximize
$wm_button_bg: if($variant == 'light', #fdfdfd, #212429);
$wm_button_unfocused_bg: if($variant == 'light', #f6f7f8, #22252b);
$wm_button_hover_bg: if($variant == 'light', #fdfdfd, #212429);
$wm_button_active_bg: $selected_bg_color;

$wm_button_border: if($variant == 'light', #d8dae0, #141619);
$wm_button_unfocused_border: if($variant == 'light', #dddee2, #1a1c20);
$wm_button_hover_border: $selected_bg_color;
$wm_button_active_border: $selected_bg_color;

$wm_icon_bg: if($variant == 'light', #a7adb9, #777d86);
$wm_icon_unfocused_bg: if($variant == 'light', #babec7, #575c63);
$wm_icon_hover_bg: if($variant == 'light', #757d91, #838993);
$wm_icon_active_bg: $selected_fg_color;
