#
# Thunar
#
style "thunar-handle" { GtkPaned::handle-size = 2 }

style "dark-sidebar" {
  GtkTreeView::odd_row_color = @dark_sidebar_bg
  GtkTreeView::even_row_color = @dark_sidebar_bg


  base[NORMAL] = @dark_sidebar_bg
  base[INSENSITIVE] = @dark_sidebar_bg

  text[NORMAL] = "#BAC3CF"
  text[ACTIVE] = @selected_fg_color
  text[SELECTED] = @selected_fg_color
}

style "thunar-frame" {
  xthickness = 0
  ythickness = 0
}

widget_class "*ThunarWindow*.<GtkScrolledWindow>"       style "thunar-frame"
widget_class "*ThunarShortcutsView*"                    style "dark-sidebar"
widget_class "*ThunarTreeView*"                         style "dark-sidebar"
widget_class "*ThunarWindow*.<GtkHPaned>"               style "thunar-handle"
