#
# Thunar
#
style "thunar-handle" { GtkPaned::handle-size = 2 }

style "dark-sidebar" {
  GtkTreeView::odd_row_color = @dark_sidebar_bg
  GtkTreeView::even_row_color = @dark_sidebar_bg


  base[NORMAL] = @dark_sidebar_bg
  base[INSENSITIVE] = @dark_sidebar_bg

  text[NORMAL] = "#BAC3CF"
  text[ACTIVE] = @selected_fg_color
  text[SELECTED] = @selected_fg_color
}

style "thunar-frame" {
  xthickness = 0
  ythickness = 0
}

widget_class "*ThunarWindow*.<GtkScrolledWindow>"       style "thunar-frame"
widget_class "*ThunarShortcutsView*"                    style "dark-sidebar"
widget_class "*ThunarTreeView*"                         style "dark-sidebar"
widget_class "*ThunarWindow*.<GtkHPaned>"               style "thunar-handle"

#
# Mousepad
#

style "entry_border" {

  engine "pixmap" {

    image {
      function = SHADOW
      detail = "entry"
      state = NORMAL
      shadow = IN
      file = "assets/entry-border-bg.png"
      border = { 12, 12, 12, 12 }
      stretch = TRUE
    }

    image {
      function = SHADOW
      detail = "entry"
      state = ACTIVE
      file = "assets/entry-border-active-bg.png"
      border = { 12, 12, 12, 12 }
      stretch = TRUE
    }

    image {
      function = FLAT_BOX
      detail = "entry_bg"
      state = NORMAL
      overlay_file = "assets/null.png"
      overlay_border = { 0, 0, 0, 0 }
      overlay_stretch = TRUE
    }

    image {
      function = FLAT_BOX
      detail = "entry_bg"
      state = ACTIVE
      overlay_file = "assets/null.png"
      overlay_border = { 0, 0, 0, 0 }
      overlay_stretch = TRUE
    }
  }
}

widget_class "*MousepadSearchBar*.<GtkEntry>"    style "entry_border"
