// Decorations
UnityDecoration {
  -UnityDecoration-extents: 28px 1 1 1;
  -UnityDecoration-input-extents: 10px;

  -UnityDecoration-shadow-offset-x: 0px;
  -UnityDecoration-shadow-offset-y: 3px;
  -UnityDecoration-active-shadow-color: rgba(0, 0, 0, 0.15);
  -UnityDecoration-active-shadow-radius: 12px;
  -UnityDecoration-inactive-shadow-color: rgba(0, 0, 0, 0.07);
  -UnityDecoration-inactive-shadow-radius: 7px;

  -UnityDecoration-glow-size: 10px;
  -UnityDecoration-glow-color: $selected_bg_color;

  -UnityDecoration-title-indent: 10px;
  -UnityDecoration-title-fade: 35px;
  -UnityDecoration-title-alignment: 0.0;

  &.top {
    border: 1px solid if($darker=='true' or $variant == 'dark', darken($header_bg, 7%), transparentize(black, 0.9));
    border-bottom-width: 0;
    border-radius: 4px 4px 0 0;
    padding: 1px 6px 0 6px;

    background-image: linear-gradient(to bottom, opacify($header_bg, 1));
    color: $header_fg;                         // The foreground color will be used to paint the text

    box-shadow: inset 0  1px lighten($header_bg, 3%);

    &:backdrop {
      border-bottom-width: 0;
      background-image: linear-gradient(to bottom, opacify($header_bg_backdrop, 1));
      color: transparentize($header_fg, 0.3);
    }
  }
  &.left, &.right, &.bottom,
  &.left:backdrop, &.right:backdrop, &.bottom:backdrop {
    background-image: linear-gradient(to bottom, if($darker=='true' or $variant == 'dark', darken($header_bg, 7%), transparentize(black, 0.9)));
  }
}

// Panel Style
UnityPanelWidget,
.unity-panel {
  background-image: linear-gradient(to bottom, opacify($panel_bg, 1));
  color: lighten($panel_fg, 20%);
  box-shadow: none;
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
  border-radius: 0;
  color: $selected_bg_color;
  border-bottom: none;
}
