style "menubar" {

  bg[NORMAL] = "#e7e8eb"
  fg[NORMAL] = "#70788d"
  fg[SELECTED] = @fg_color
  fg[INSENSITIVE] = shade(1.3, "#70788d")

  xthickness = 0
  ythickness = 0

  engine "pixmap" {

    image {
      function = BOX
      file  = "menubar-toolbar/menubar.png"
      stretch  = TRUE
      border = { 1, 1, 1, 1 }
    }
  }
}

style "menubar-borderless" {

  bg[NORMAL] = "#e7e8eb"
  fg[NORMAL] = "#70788d"
  fg[SELECTED] = @fg_color
  fg[INSENSITIVE] = shade(1.3, "#70788d")

  xthickness = 0
  ythickness = 0

  engine "pixmap" {

    image {
      function = BOX
      file  = "assets/null.png"
      stretch  = TRUE
      border = { 1, 1, 1, 1 }
    }
  }
}

style "menubar_item" {

  xthickness = 2
  ythickness = 4

  fg[PRELIGHT] = @fg_color

  engine "pixmap" {

    image {
      function = BOX
      state = PRELIGHT
      file = "menubar-toolbar/menubar_button.png"
      border = { 2, 2, 2, 2 }
      stretch = TRUE
    }
  }
}

style "toolbar_entry" {
  xthickness = 6

  engine "pixmap" {

    image {
      function = SHADOW
      detail = "entry"
      state = NORMAL
      shadow = IN
      file = "menubar-toolbar/toolbar-entry-border-bg.png"
      border = { 12, 12, 12, 12 }
      stretch = TRUE
    }

    image {
      function = SHADOW
      detail = "entry"
      state = INSENSITIVE
      shadow = IN
      file = "menubar-toolbar/toolbar-entry-border-disabled-bg.png"
      border = { 12, 12, 12, 12 }
      stretch = TRUE
    }

    image {
      function = SHADOW
      detail = "entry"
      state = ACTIVE
      file = "menubar-toolbar/toolbar-entry-border-active-bg.png"
      border = { 12, 12, 12, 12 }
      stretch = TRUE
    }

    image {
      function = FLAT_BOX
      detail = "entry_bg"
      state = NORMAL
      overlay_file = "assets/null.png"
      overlay_border = { 0, 0, 0, 0 }
      overlay_stretch = TRUE
    }

    image {
      function = FLAT_BOX
      detail = "entry_bg"
      state = ACTIVE
      overlay_file = "assets/null.png"
      overlay_border = { 0, 0, 0, 0 }
      overlay_stretch = TRUE
    }
  }
}

widget_class "*<GtkMenuBar>*"                                       style "menubar"
widget_class "*<GtkMenuBar>.<GtkMenuItem>*"                         style "menubar_item"

widget_class "*ThunarWindow*<GtkToolbar>"                           style "menubar"
widget_class "*CajaNavigationWindow*<GtkToolbar>"                   style "menubar"


# Whitelist for dark toolbars
widget_class "*ThunarWindow*<GtkMenuBar>"                           style "menubar-borderless"
widget_class "*CajaNavigationWindow*<GtkMenuBar>"                   style "menubar-borderless"
widget_class "*ThunarWindow*<GtkToolbar>*<GtkEntry>"                style "toolbar_entry"
widget_class "*CajaNavigationWindow*<GtkToolbar>*<GtkEntry>"        style "toolbar_entry"
