style "menubar" {

  bg[NORMAL] = "#2f343b"
  fg[NORMAL] = "#afb8c5"
  fg[SELECTED] = @selected_fg_color
  fg[INSENSITIVE] = shade(0.7, "#afb8c5")

  xthickness = 0
  ythickness = 0

  engine "pixmap" {

    image {
      function = BOX
      file  = "menubar-toolbar/menubar-dark.png"
      stretch  = TRUE
      border = { 1, 1, 1, 1 }
    }
  }
}

style "menubar-borderless" {

  bg[NORMAL] = "#2f343b"
  fg[NORMAL] = "#afb8c5"
  fg[SELECTED] = @selected_fg_color
  fg[INSENSITIVE] = shade(0.7, "#afb8c5")

  xthickness = 0
  ythickness = 0

  engine "pixmap" {

    image {
      function = BOX
      file  = "assets/null.png"
      stretch  = TRUE
      border = { 1, 1, 1, 1 }
    }
  }
}

style "menubar_item" {

  xthickness = 2
  ythickness = 4

  fg[PRELIGHT] = @selected_fg_color

  engine "pixmap" {

    image {
      function = BOX
      state = PRELIGHT
      file = "menubar-toolbar/menubar_button-dark.png"
      border = { 2, 2, 2, 2 }
      stretch = TRUE
    }
  }
}

# Text Style Menubar
style "menubar-text" {

  engine "murrine" {
    text_shade = 0.0
    textstyle = 0
  }
}


style "toolbar_text" {
  fg[NORMAL] = "#afb8c5"
  fg[PRELIGHT] = "#afb8c5"
  fg[INSENSITIVE] = shade(0.7, "#afb8c5")
  fg[ACTIVE] = "#afb8c5"

  text[NORMAL] = "#afb8c5"
  text[PRELIGHT] = "#afb8c5"
  text[INSENSITIVE] = shade(0.7, "#afb8c5")
  text[ACTIVE] = "#afb8c5"

}

style "toolbar_button" {

  xthickness = 4
  ythickness = 4

  engine "pixmap" {

    image {
      function = BOX
      state = NORMAL
      file = "menubar-toolbar/button.png"
      border = { 4, 4, 4, 4 }
      stretch = TRUE
    }

    image {
      function = BOX
      state = PRELIGHT
      file = "menubar-toolbar/button-hover.png"
      border = { 4, 4, 4, 4 }
      stretch = TRUE
    }

    image {
      function = BOX
      state = ACTIVE
      file = "menubar-toolbar/button-active.png"
      border = { 4, 4, 4, 4 }
      stretch = TRUE
    }

    image {
      function = BOX
      state = INSENSITIVE
      file = "menubar-toolbar/button-insensitive.png"
      border = { 4, 4, 4, 4 }
      stretch = TRUE
    }
  }
}

style "toolbar_entry" {
  xthickness = 6

  base[NORMAL] = "#272b31"
  base[INSENSITIVE] = "#292e35"

  text[NORMAL] = "#afb8c5"

  engine "pixmap" {

    image {
      function = SHADOW
      detail = "entry"
      state = NORMAL
      shadow = IN
      file = "menubar-toolbar/toolbar-entry-border-bg-dark.png"
      border = { 12, 12, 12, 12 }
      stretch = TRUE
    }

    image {
      function = SHADOW
      detail = "entry"
      state = INSENSITIVE
      shadow = IN
      file = "menubar-toolbar/toolbar-entry-border-disabled-bg-dark.png"
      border = { 12, 12, 12, 12 }
      stretch = TRUE
    }

    image {
      function = SHADOW
      detail = "entry"
      state = ACTIVE
      file = "menubar-toolbar/toolbar-entry-border-active-bg-dark.png"
      border = { 12, 12, 12, 12 }
      stretch = TRUE
    }

    image {
      function = FLAT_BOX
      detail = "entry_bg"
      state = NORMAL
      overlay_file = "assets/null.png"
      overlay_border = { 0, 0, 0, 0 }
      overlay_stretch = TRUE
    }

    image {
      function = FLAT_BOX
      detail = "entry_bg"
      state = ACTIVE
      overlay_file = "assets/null.png"
      overlay_border = { 0, 0, 0, 0 }
      overlay_stretch = TRUE
    }
  }
}

#Chromium
style "chrome-gtk-frame" {

  ChromeGtkFrame::frame-color = "#2f343b"
  ChromeGtkFrame::inactive-frame-color = "#2f343b"

  ChromeGtkFrame::frame-gradient-size = 0
  ChromeGtkFrame::frame-gradient-color = shade(0.5, @bg_color)

  ChromeGtkFrame::incognito-frame-color = shade(0.85, @bg_color)
  ChromeGtkFrame::incognito-inactive-frame-color = @bg_color

  ChromeGtkFrame::incognito-frame-gradient-color = @bg_color

  ChromeGtkFrame::scrollbar-trough-color = shade(0.912, @bg_color)
  ChromeGtkFrame::scrollbar-slider-prelight-color = shade(1.04, @bg_color)
  ChromeGtkFrame::scrollbar-slider-normal-color = @bg_color

}

widget_class "*<GtkMenuBar>*"                                       style "menubar"
widget_class "*<GtkMenuBar>.<GtkMenuItem>*"                         style "menubar_item"

widget_class "*ThunarWindow*<GtkToolbar>"                           style "menubar"

class "ChromeGtkFrame"                                              style "chrome-gtk-frame"

widget_class "*<GtkMenuBar>*<GtkMenuItem>*<GtkAccelLabel>"          style "menubar-text"

# Whitelist for dark toolbars
widget_class "*ThunarWindow*<GtkMenuBar>"                                   style "menubar-borderless"
widget_class "*ThunarWindow*<GtkToolbar>*<GtkEntry>"                        style "toolbar_entry"
widget_class "*ThunarWindow*<GtkToolbar>*<GtkButton>"                       style "toolbar_button"
widget_class "*ThunarWindow*<GtkToolbar>*<GtkWidget>"                       style "toolbar_text"
widget_class "*ThunarWindow*<GtkToolbar>*<GtkButton>*<GtkLabel>"            style "menubar-text"

